{
  "domains": "example.com,www.example.com",
  "do_token": "dop_v1_your_token_here",
  "acme_email": "admin@example.com",
  "dashboard_password": "secure_password_here",
  "install_tailscale": false,
  "install_portainer": true
}
